* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-page {
    height: 100vh;
}

#login-box {
    width: 360px;
    height: 380px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#roleOptionContainer {
    display: none;
}

#avatar1 {
    width: 80px;
}
#avatar2 {
    width: 80px;
    display: none;
}
#avatar3 {
    width: 80px;
    display: none;
}
#btn-container {
    width: 100%;
}

#dropdownMenuButton1 {
    width: 100%;
}

#dropdownMenu {
    width: 100%;
}

#signUpButton {
    display: none;
}

#dashboard-page {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100vh;
    max-width: none;
}

#dashboard-box {
    width: 98%;
    height: 98%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#navbar {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#logo {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
}

@media only screen and (max-width: 568px) {
    
}
